<!-- this is the main todolist which will go to the body in the layout.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title><%= title %></title>

</head>

<body>

    <!-- it is the form for adding a new list to the user's todo-list -->
    <form id="new-list-form" action="/todoApp" method="POST">
        <!-- for  description of the task -->
        <div id="description">
            DESCRIPTION
            <br>
            <textarea row="3" cols="60" placeholder="What do you need to do??" name="description" required>

                   </textarea>
        </div>
        <!-- category of the task -->
        <div id="category-date">
            <div id="category">
                CATEGORY
                <br>
                <input list="category-list" name="category" required>
                <datalist id="category-list">
                    <option value="Personal">
                    <option value="Work">
                    <option value="School">
                    <option value="Cleaning">
                    <option value="Other">
                </datalist>
            </div>
            <!-- date til which the user need to do the task -->
            <div id="date">
                DUE DATE
                <br>
                <input type="date" placeholder="dd/mm/yy" name="date" required>
            </div>
        </div>
        <!-- button for adding the task to the list after filling the form -->
        <div id="buttons">

            <button type="submit" id="add-task">
                <img src="https://t3.ftcdn.net/jpg/03/30/25/74/240_F_330257485_WEd8LDmLkdp4vbJjhbLY263gV0OvsiIF.jpg" />
                ADD TASK
            </button>

        </div>

    </form>
    <!-- this is the container of the tasks of the user -->
    <div id="todo-list-container">
        <% for(let list of lists){%>

        <!-- every particular list item -->
        <div id="task-<%=list.id %>">

            <div id="title-date">
                <%=list.description%><br>
                <img src="https://t4.ftcdn.net/jpg/03/04/12/37/240_F_304123778_IbttypTmYT9Nc4wgKeogv7RmTdUS12PA.jpg"
                    alt="image">
                <%=list.date %>
            </div>
            <div id="category-of-list-item">
                <%=list.category %>
            </div>
            <!-- this is for adding the delete functionality directly option is given with every list item -->
            <div id="dustbin">
                <a href="/delete/<%=list._id %> " class="delete-button">
                    <img src="https://t4.ftcdn.net/jpg/01/90/89/15/240_F_190891550_N7uKp2aHE3mOc20dmtDytj7atgvbhdOu.jpg"
                        alt="X">
                </a>
            </div>
        </div>


        <%}%>
   </div>
   <!-- added for implementing ajax  -->
    <script src="/todolist.js" >

    </script>
   
</body>

</html>